<div class="mt-4">
    <h3>regis courses</h3>
    <form method="post" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">name courses</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">description courses</label>
            <input type="text" class="form-control" name="description" id="description">
        </div>
        <div class="mb-3">
            <label for="video" class="form-label">video courses</label>
            <input type="text" class="form-control" name="video" id="video">
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">level courses</label>
            <input type="text" class="form-control" name="level" id="level">
        </div>
        <button type="submit" class="btn btn-primary">add courses</button>
    </form>
</div>