<div class="form-control mt-4">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="search-input" class="form-label">search</label>
            <input type="text" class="form-control" id="inputEmail4">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">search...</button>
        </div>
    </form>
</div>